{% extends 'base.html'%}

{% block title %}Login{% endblock title%}

{% block content %}
<div class="row" style="color: whitesmoke ;">
    <div class="col-md-4 mt-5 ">
        <h3>Login</h3>


        <fieldset class="form-group" style="color: whitesmoke;">


            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                {{fm.label_tag}}<br>
                {{fm}} <br>
                <span> {{fm.errors}}
                    {% endfor %}
                    <br>

                    <button class="btn btn-success" type="submit">Submit</button><br><br><br>



                    don't have account?<a href="{% url 'signup'%}" style="color: rgb(254, 95, 95);"> SignUp Here</a>
        </fieldset>
    </div>
</div>
{% endblock content %}