{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}SignUp{% endblock title%}

{% block content %}

<div class="content-section">

  <fieldset class="form-group" style="color: whitesmoke;">
    <legend>Register</legend>
    <div class="col-md-4 ">
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}}<br>
        {{fm}} <span> {{fm.errors}}
          {% endfor %}
          <br>

          <button class="btn btn-success" type="submit">Submit</button>

  </fieldset>




  </form>
</div>
</div>


{% endblock content %}